Repository FastCampus-Final-Project-bizcurator-1/FinalProject-1-Backend, pull requests merged in 2023-05, with the labels that each got.

#36 fix: 첨부파일 request path도 받게 변경 #19
  src/main/java/project/finalproject1backend/controller/UploadController.java
Labels: Domain: Backend, Priority: Low, Status: Complete

#37 feat: user 관련 기능 추가및 변경 #9 #12 #16
  build.gradle
  src/main/java/project/finalproject1backend/config/SecurityConfig.java
  src/main/java/project/finalproject1backend/controller/UserController.java
  src/main/java/project/finalproject1backend/domain/User.java
  src/main/java/project/finalproject1backend/dto/user/UserModifyLicenseRequestDTO.java
  src/main/java/project/finalproject1backend/dto/user/UsersInfoDTO.java
  src/main/java/project/finalproject1backend/repository/UserRepository.java
  src/main/java/project/finalproject1backend/service/UserService.java
  src/main/resources/application.properties
Labels: Domain: Backend, Priority: Medium, Status: In progress

#39 Feat: 문의 도메인 구현 #38
  src/main/java/project/finalproject1backend/config/CustomUserDetailService.java
  src/main/java/project/finalproject1backend/domain/Inquiry.java
  src/main/java/project/finalproject1backend/domain/Inquiry/BuyInquiry.java
  src/main/java/project/finalproject1backend/domain/Inquiry/BuyInquiryState.java
  src/main/java/project/finalproject1backend/domain/Inquiry/SaleInquiry.java
  src/main/java/project/finalproject1backend/domain/Inquiry/SaleInquiryState.java
  src/main/java/project/finalproject1backend/domain/User.java
  src/main/java/project/finalproject1backend/dto/PrincipalDTO.java
Labels: Domain: Backend

#40 Feat: product 관련 #20
  build.gradle
  src/main/java/project/finalproject1backend/config/CustomUserDetailService.java
  src/main/java/project/finalproject1backend/controller/ProductController.java
  src/main/java/project/finalproject1backend/domain/AttachmentFile.java
  src/main/java/project/finalproject1backend/domain/Cart.java
  src/main/java/project/finalproject1backend/domain/Inquiry/BuyInquiry.java
  src/main/java/project/finalproject1backend/domain/Product.java
  src/main/java/project/finalproject1backend/domain/SubCategory.java
  src/main/java/project/finalproject1backend/domain/User.java
  src/main/java/project/finalproject1backend/domain/constant/Delivery.java
  src/main/java/project/finalproject1backend/domain/constant/MainCategory.java
  src/main/java/project/finalproject1backend/domain/constant/ProductStatus.java
  src/main/java/project/finalproject1backend/dto/PrincipalDTO.java
  src/main/java/project/finalproject1backend/dto/product/ProductFormDto.java
  src/main/java/project/finalproject1backend/dto/subCategory/SubCategoryRequestDTO.java
  src/main/java/project/finalproject1backend/dto/subCategory/SubCategoryResponseDTO.java
  src/main/java/project/finalproject1backend/exception/OutOfStockException.java
  src/main/java/project/finalproject1backend/repository/ProductRepository.java
  src/main/java/project/finalproject1backend/repository/SubCategoryRepository.java
  src/main/java/project/finalproject1backend/service/ProductService.java
Labels: Domain: Backend

#44 문의 인증 오류 발생(해결 못함)
  src/main/java/project/finalproject1backend/controller/Inquiry/BuyInquiryController.java
  src/main/java/project/finalproject1backend/controller/Inquiry/SaleInquiryController.java
  src/main/java/project/finalproject1backend/domain/AttachmentFile.java
  src/main/java/project/finalproject1backend/domain/Inquiry/BuyInquiry.java
  src/main/java/project/finalproject1backend/domain/Inquiry/SaleInquiry.java
  src/main/java/project/finalproject1backend/dto/inquiry/BuyInquiryDTO.java
  src/main/java/project/finalproject1backend/dto/inquiry/SaleInquiryDTO.java
  src/main/java/project/finalproject1backend/repository/Inquiry/BuyInquiryRepository.java
  src/main/java/project/finalproject1backend/repository/Inquiry/SaleInquiryRepository.java
  src/main/java/project/finalproject1backend/service/Inquiry/BuyInquiryService.java
  src/main/java/project/finalproject1backend/service/Inquiry/SaleInquiryService.java
Labels: Domain: Backend

#48 feat : 문의 첨부파일 구현, 이그노어 설정
  .gitignore
  src/main/java/project/finalproject1backend/controller/Inquiry/BuyInquiryController.java
  src/main/java/project/finalproject1backend/controller/Inquiry/SaleInquiryController.java
  src/main/java/project/finalproject1backend/domain/AttachmentFile.java
  src/main/java/project/finalproject1backend/domain/Inquiry/BuyInquiry.java
  src/main/java/project/finalproject1backend/domain/Inquiry/SaleInquiry.java
  src/main/java/project/finalproject1backend/dto/inquiry/BuyInquiryDTO.java
  src/main/java/project/finalproject1backend/dto/inquiry/SaleInquiryDTO.java
  src/main/java/project/finalproject1backend/repository/Inquiry/BuyInquiryRepository.java
  src/main/java/project/finalproject1backend/repository/Inquiry/SaleInquiryRepository.java
  src/main/java/project/finalproject1backend/service/Inquiry/BuyInquiryService.java
  src/main/java/project/finalproject1backend/service/Inquiry/SaleInquiryService.java
Labels: Domain: Backend

#50 feat: 판매 문의 구현 및 구매 문의 수정
  src/main/java/project/finalproject1backend/controller/Inquiry/BuyInquiryController.java
  src/main/java/project/finalproject1backend/controller/Inquiry/SaleInquiryController.java
  src/main/java/project/finalproject1backend/repository/Inquiry/BuyInquiryRepository.java
  src/main/java/project/finalproject1backend/service/Inquiry/BuyInquiryService.java
  src/main/java/project/finalproject1backend/service/Inquiry/SaleInquiryService.java
Labels: Domain: Backend

#64 feat: 판매 문의 상태 변경, 답변 첨부파일 등록(필터링 미구현)
  src/main/java/project/finalproject1backend/controller/Inquiry/BuyInquiryController.java
  src/main/java/project/finalproject1backend/controller/Inquiry/InquiryController.java
  src/main/java/project/finalproject1backend/service/Inquiry/BuyInquiryService.java
  src/main/java/project/finalproject1backend/service/Inquiry/InquiryService.java
Labels: Domain: Backend

#75 Feature/#47 아임포트 주문 DB 연결 완료 todo 수정
  src/main/java/project/finalproject1backend/controller/payment/IamportPaymentController.java
  src/main/java/project/finalproject1backend/service/payment/IamportPayService.java
Labels: Domain: Backend, Priority: Medium, Status: Available, Type: Enhancement

#76 feat :관리자 페이지(판매 문의 전체조회, 판매문의 처리 상태변경)구현 완료
  src/main/java/project/finalproject1backend/controller/Inquiry/SaleInquiryController.java
  src/main/java/project/finalproject1backend/dto/inquiry/BuyInquiryStateDTO.java
  src/main/java/project/finalproject1backend/dto/inquiry/InquiryDTO.java
  src/main/java/project/finalproject1backend/repository/Inquiry/SaleInquiryRepository.java
  src/main/java/project/finalproject1backend/service/Inquiry/BuyInquiryService.java
  src/main/java/project/finalproject1backend/service/Inquiry/SaleInquiryService.java
Labels: Domain: Backend

#77 feat :문의 구현 완료
  src/main/java/project/finalproject1backend/controller/Inquiry/SaleInquiryController.java
  src/main/java/project/finalproject1backend/service/Inquiry/BuyInquiryService.java
  src/main/java/project/finalproject1backend/service/Inquiry/SaleInquiryService.java
Labels: Domain: Backend

#81 bug: 카카오 페이 승인 버그 수정 #80
  src/main/java/project/finalproject1backend/service/payment/KakaoPayService.java
Labels: Domain: Backend, Priority: Critical, Status: Complete, Type: Bug

#88 Feature/#47 결제 예외 처리 수정
  src/main/java/project/finalproject1backend/config/ControllerAdvice.java
  src/main/java/project/finalproject1backend/exception/PaymentCancelAllException.java
  src/main/java/project/finalproject1backend/exception/PaymentException.java
  src/main/java/project/finalproject1backend/exception/PaymentRefundException.java
  src/main/java/project/finalproject1backend/exception/payment/IamportPaymentException.java
  src/main/java/project/finalproject1backend/exception/payment/KakaoPaymentException.java
  src/main/java/project/finalproject1backend/exception/payment/iamport/IamportDBConnectionByMerchantUidExceptionIamport.java
  src/main/java/project/finalproject1backend/exception/payment/iamport/IamportDBConnectionByPgUidExceptionIamport.java
  src/main/java/project/finalproject1backend/exception/payment/iamport/IamportRefundVerificationAmountExceptionIamport.java
  src/main/java/project/finalproject1backend/exception/payment/iamport/IamportSingleIamportPaymentCancelException.java
  src/main/java/project/finalproject1backend/exception/payment/iamport/IamportSingleIamportPaymentConnectionInfoException.java
  src/main/java/project/finalproject1backend/exception/payment/iamport/IamportSingleIamportPaymentVerificationAmountException.java
  src/main/java/project/finalproject1backend/exception/payment/iamport/IamportSingleIamportPaymentVerificationEmailException.java
  src/main/java/project/finalproject1backend/exception/payment/iamport/IamportSingleIamportPaymentVerificationMerchantUidException.java
  src/main/java/project/finalproject1backend/exception/payment/kakao/KakaoDBConnectionException.java
  src/main/java/project/finalproject1backend/exception/payment/kakao/KakaoRefundException.java
  src/main/java/project/finalproject1backend/exception/payment/kakao/KakaoRefundVerificationAmountException.java
  src/main/java/project/finalproject1backend/exception/payment/kakao/KakaoSinglePaymentApproveException.java
  src/main/java/project/finalproject1backend/exception/payment/kakao/KakaoSinglePaymentReadyException.java
  src/main/java/project/finalproject1backend/service/payment/IamportPayService.java
  src/main/java/project/finalproject1backend/service/payment/KakaoPayService.java
Labels: Domain: Backend, Priority: Low, Status: Complete, Type: Maintenance
