Repository FastCampus-Final-Project-bizcurator-1/FinalProject-1-Backend, pull requests merged in 2023-04, with the labels that each got.

#2 Config: 풀리퀘스트 템플릿 추가 #1
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Domain: Documentaion, Priority: Medium, Type: Config

#6 Feature/#5 change springboot version
  .gitignore
  build.gradle
  src/main/java/project/finalproject1backend/config/SecurityConfig.java
Labels: Domain: Backend, Priority: High, Type: Config

#7 Feat: springdoc 추가 #4
  build.gradle
  src/main/java/project/finalproject1backend/config/SecurityConfig.java
  src/main/resources/application.properties
Labels: Domain: Backend, Priority: Medium, Status: Accepted, Type: Enhancement

#13 feat: 마이 페이지 User 구현- Issue #12
  src/main/java/project/finalproject1backend/controller/UserController.java
  src/main/java/project/finalproject1backend/dto/ModifyRequestDTO.java
  src/main/java/project/finalproject1backend/dto/user/UserInfoResponseDTO.java
  src/main/java/project/finalproject1backend/dto/user/UserModifyLicenseRequestDTO.java
  src/main/java/project/finalproject1backend/service/UserService.java
Labels: Domain: Backend, Priority: Medium, Status: Complete

#14 fix: swagger에 principalDTO request에 뜨는 것 수정, modify conten명 지정한 것 외의 …
  src/main/java/project/finalproject1backend/controller/UserController.java
  src/main/java/project/finalproject1backend/dto/user/UserLoginRequestDTO.java
  src/main/java/project/finalproject1backend/dto/user/UserModifyLicenseRequestDTO.java
  src/main/java/project/finalproject1backend/dto/user/UserSignUpRequestDTO.java
  src/main/java/project/finalproject1backend/service/UserService.java
Labels: Domain: Backend, Status: Complete

#17 feat: 관리자 페이지 전체조회/선택조회/roleUser변경/roleStandby변경 구현 - Issue #16
  src/main/java/project/finalproject1backend/controller/UserController.java
  src/main/java/project/finalproject1backend/dto/user/UserInfoResponseDTO.java
  src/main/java/project/finalproject1backend/dto/user/UsersGetResponseDTO.java
  src/main/java/project/finalproject1backend/service/UserService.java
Labels: Domain: Backend, Priority: Medium, Status: Accepted, Type: Enhancement
